/* Generic*/
body{
    margin: 0;
    overflow-x: hidden;
  }
  
  /* Fonts styling */
  h1{
    font-size: 70px; 
    z-index: 0; 
    text-align: center;
    margin-bottom: -20px;
    color: white;
    font-weight: lighter;
  }
  h2{
    font-size:90px; 
    z-index: 0; 
    text-align: center;
    color: white;
    text-decoration: solid; 
    font-weight: bold;
    margin: 0px;
  }
  
  h3{
    font-size: 300%;
  }
  
  h4{
    font-size: 120%;
    font-weight: lighter;
  }
  
  
  
  /* Navigation Bar*/
  .navbar {
      color: #fff;
      height: 75px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      z-index: 9999;
      background-color: #4682B4;
      box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
  }
    
  .logo{
      height: 40%;
      width:30%;
      text-align: center;
  }
  
  .logo-ili{
      font-family: Stencil, sans-serif;
      text-align: center;
      font-size: 1.75em;
      color:white;   
  }
    
  .nav-buttons {
    display: flex;
    width: 70%;
    height: 40%;
    justify-content: space-evenly;
  }
  
  /* buttons*/
    
  .button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.25em;
    color:white;
    text-decoration: none;
  }
  
  .button:active{
      font-weight: bold;
  }
  
  .buttona {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 12.5px;
    background-color:transparent;
    color: black;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
  }
  
  
  
  /* containers */
  .bluebox{
    background-color: #4682B4;
    height:100vh;
    width: 100vw;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    max-width: 100vw;
    display: flex; /* Add this to create a flex container */
    flex-direction: column;
    justify-content: center; /* Align horizontally centered */
    align-items: center; 
  }
  
  .box{
    margin:9% 5% 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content:start;
    max-width: 100vw; 
    gap: 5%;
  }
  
  .tbox{
    width: 50%;
    padding: 0px 50px;
  }
  
  .horizontal-bar {
    height: 7px; /* Adjust the height as desired */
    background-color: #4682B4; 
    width:12%;
    border-radius: 20px;
    
  }
  
    
  .square-box {
    width: 550px; /* Adjust the width as desired */
    height: 550px; /* Same value as width to create a square box */
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden;
    text-align: center;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2); /* Add shadow on the left side */
  }
    
    
  .square-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .textbox{
    display: flex;
    flex-direction: column;
    
  }
  
  .textbox p{
    text-align: center;
    font-size: 1.25em;
  }
  .himgrow{
    margin: 8% 0% 0% 10%;
    display: flex;
    gap: 10%;
  }
  
  .rowtext {
    margin: 8% 0% 0% 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    overflow-x: hidden;
  }
  
  .textsect{
    background-color: #4682B4; width: 100vw; height: auto;padding: 4% 10% 4%;margin-top:5%
  }  
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
  }
  
  .iconcell {
    width: 100%;
    height: 100%;
    text-align: center; /* Center the content horizontally */
  }
  
  .iconcell img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  
  
  table, th, td {
    border:none;
    table-layout: fixed;
    color:white;
    margin-top: 6%;
    border-spacing: 15px;
    margin-bottom: 3%;
  }
  th{
    text-align: start;
    font-size: 28px;
    
    padding-bottom: 15px;
  }
  td{
    margin-top: 20%;
    font-size: 20px;
    
  }
  